<!--Navbar -->
<nav class="mb-1 navbar navbar-expand-lg navbar-dark unique-color">
  <i (click)="onOpenNav()" class="fas fa-bars mr-3" style="color: white"></i>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-4"
      aria-controls="navbarSupportedContent-4" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent-4">
      <!----<ul class="navbar-nav">
         
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-4" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">Nos Groupes</a>
            <div class="dropdown-menu dropdown-menu-right dropdown-info" aria-labelledby="navbarDropdownMenuLink-4">
              <a class="dropdown-item" href="http://www.talys.mg/" target="blank">Talys</a>
              <a class="dropdown-item" href="https://www.sanifer.mg/">Sanifer</a>
              <a class="dropdown-item" href="https://cinepax.mg/">Cinepax</a>
              <a class="dropdown-item" href="https://tambohosuites.com/fr/appart-hotel-antananarivo-madagascar">Tamboho</a>
              <a class="dropdown-item" href="http://192.168.123.229/pageintranet/index.php/le-groupe/artemis">Artemis</a>
              <a class="dropdown-item" href="#">Stmb</a>
            </div>
          </li>
      </ul> -->
      <ul class="navbar-nav ml-auto">
        <form class="form-inline">
            <div class="md-form my-0">
              <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            </div>
            <button class="btn btn-outline-white btn-md my-2 my-sm-0 ml-3" type="submit">Search</button>
          </form>
      </ul>
    </div>
  </nav>
  <!--/.Navbar -->

  <div id="mySidenav" class="sidenav unique-color" [ngStyle]="{'width': width}">
  
    <i class="fas fa-times closebtn" (click)="onCloseNav()" style="color: white"></i>
    
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="">Acceuil</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/actualiteB">actualite</a>
  </li>
  <li class="nav-item">
      <a class="nav-link" routerLink="/nouveau">NouveauEmploye</a>
  </li>
    </ul>
  </div>