<app-bhome></app-bhome>
<div class="container jumbotron">
  <h2>Formulaire d'ajout de l'actualité</h2>
    <form [formGroup]="actualiteForm" (ngSubmit)="onSave()">
      <div class="form-group shadow-textarea">
        <label>Titre</label>
        <input class="form-control z-depth-1" formControlName="titre"/>
      </div>
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
        </div>
        <div class="custom-file">
          <input type="file" class="custom-file-input" id="inputGroupFile01" (change)="onFileSelected($event)"
            aria-describedby="inputGroupFileAddon01">
          <label class="custom-file-label" for="inputGroupFile01">Choisir une image</label>
        </div>
      </div>
      <div class="form-group shadow-textarea">
        <label>Description</label>
        <ejs-richtexteditor formControlName="description"></ejs-richtexteditor>
      </div>
      <a class="btn btn-outline-info" routerLink="/actualiteB">Annuler</a>
      <button class="btn btn-outline-primary" type="submit" [disabled]="actualiteForm.invalid">Ajouter</button>
    </form>
  </div>