<app-bhome></app-bhome>
<div class="jumbotron">
  <h2 class="h2 text-center"> Les portraits du mois</h2>
  <a routerLink="/portrait/ajout" class="btn btn-action">Ajouter portrait</a>
  <div *ngIf="!portraits" class="d-flex justify-content-center">
    <div class="spinner-border text-info" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
  <table *ngIf="portraits" class="table table-bordered">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">nom</th>
      <th scope="col">poste</th>
      <th scope="col">mois</th>
      <th scope="col">actif</th>
      <th scope="col">description</th>
      <th scope="col">date</th>
      <th scope="col">image</th>
      <th scope="col">action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let portrait of portraits">
      <th scope="row">{{portrait.id}}</th>
      <td>{{portrait.nom}}</td>
      <td>{{portrait.poste}}</td>
      <td>{{portrait.mois}}</td>
      <td>{{portrait.actif}}</td>
      <td [innerHtml] ="portrait.description" width ="500vh"></td>
      <td>{{portrait.dateAjout |  date:'d/M/y HH:MM'}}</td>
      <td><img [src]="Url + portrait.contentUrl" alt="" style="width:70px;height:60px;border-radius: 50%;"></td>
      <td>
        <button class="btn btn-outline-danger btn-sm" (click)="onDelete(portrait)"><i class="far fa-trash-alt"></i></button>
        <a class="btn btn-outline-success btn-sm" [routerLink]="['/portrait/edit' , portrait.id]"><i class="fas fa-pencil-alt"></i></a>
      </td>
    </tr>
    </tbody>
  </table>
</div>
