
<div class="jumbotron">
    <h4 class="card-title h4 pb-2">Groupe Talys</h4>
    <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slideshow>

        <ul class="uk-slideshow-items">
            <li>
                <img src="http://localhost:8000/intranet/5e14610902c42255358214.jpg" alt="" uk-cover>
            </li>
            <li>
                <img src="http://localhost:8000/intranet/5e14610902c42255358214.jpg" alt="" uk-cover>
            </li>
            <li>
                <img src="http://localhost:8000/intranet/5e14610902c42255358214.jpg" alt="" uk-cover>
            </li>
        </ul>
      
        <a class="uk-slidenav-large uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
        <a class="uk-slidenav-large uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slideshow-item="next"></a>
      </div>
</div>