<app-bhome></app-bhome>
  <div class="container pt-md-5">
    <a routerLink="/actualiteform" class = "btn btn-primary">Nouveau Actualite</a>
  <div class="container">
    <table class="table table-bordered">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">titre</th>
        <th scope="col">description</th>
        <th scope="col">date</th>
        <th scope="col">image</th>
        <th scope="col">action</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let actualite of actualites">
        <th scope="row">{{actualite.id}}</th>
        <td>{{actualite.titre}}</td>
        <td [innerHTML]="actualite.description"></td>
        <td>{{actualite.dateAjout | date:'d/M/y HH:MM'}}</td>
        <td><img [src]="Url + actualite.contentUrl" alt="" style="width:70px;height:60px;border-radius: 50%;"></td>
        <td>
          <button class="btn btn-danger" (click)="onDelete(actualite)">supprimer</button>
          <a class="btn btn-success" [routerLink]="['/actualite/edit' , actualite.id]">modifier</a>
        </td>
      </tr>
      </tbody>
    </table>
   </div>
  