
  <div class="Jumbotron">
    <h1 class="card-title h1 pb-2">Bienvenue aux nouveaux</h1>
    <div *ngIf="!nouveaux" class="d-flex">
      <div class="spinner-border text-primary" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
    <div *ngIf="nouveaux" class="row">
      <div *ngFor="let nouveau of nouveaux" class="col-md-4">
          <!-- Card deck -->
  <div class="card-deck">
    <!-- Card -->
    <div class="card mb-4">
  
      <!--Card image-->
      <div class="view overlay">
        <img class="card-img-top" [src]="Url + nouveau.contentUrl" alt="Card image cap">
        <a href="#!">
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>
  
      <!--Card content-->
      <div class="card-body">
        <!--Title-->
        <h4 class="card-title">{{nouveau.nom | uppercase}} </h4>
        <!--Text-->
        <p class="card-text"> {{nouveau.poste}}</p>
      </div>
    </div>
    <!-- Card -->
    </div>
  <!-- Card deck -->
  
      </div>
    </div>
 </div>