<app-bhome></app-bhome>
<div class=" jumbotron container">
  <h2>Formulaire de modification du portrait du mois</h2>
    <form [formGroup]="portraitForm" (ngSubmit)="onModify()">
      <div class="form-group shadow-textarea">
        <input class="form-control z-depth-1" readonly formControlName="id" value="id : {{portrait.id}}"/>
      </div>
      <div class="form-group shadow-textarea">
        <label>Nom</label>
        <input class="form-control z-depth-1" value="{{portrait.nom}}" formControlName="nom"/>
      </div>
      <div class="form-group shadow-textarea">
        <label>poste</label>
        <input class="form-control z-depth-1" value="{{portrait.poste}}" formControlName="poste"/>
      </div>
      <div class="row">
        <div class="col-md-3">
          <img [src]="Url + portrait.contentUrl" alt="">
        </div>
        <div class="col-md-9">
          <div class="form-group shadow-textarea">
            <label>date ajout : {{portrait.dateAjout | date:'d/M/y HH:MM'}}</label>
            <input class="form-control z-depth-1" type="datetime-local" formControlName="date"/>
          </div>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
            </div>
            <div class="custom-file">
              <input type="file" class="custom-file-input" id="inputGroupFile01" (change)="onFileSelected($event)"
                aria-describedby="inputGroupFileAddon01">
              <label class="custom-file-label" for="inputGroupFile01">Choisir une image</label>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group shadow-textarea">
        <label>Description</label>
        <ejs-richtexteditor formControlName="description" value="{{portrait.description}}"></ejs-richtexteditor>
      </div>
      <a class="btn btn-outline-info" routerLink="/portrait">annuler</a>
      <button class="btn btn-outline-primary" type="submit" [disabled]="portraitForm.invalid">Modifier</button>
    </form>
  </div>
