
<div class=" jumbotron container pt-md-5">
    <form [formGroup]="portraitForm" (ngSubmit)="onModify()">
      <div class="form-group shadow-textarea">
        <input class="form-control z-depth-1" readonly formControlName="id" value="id : {{portrait.id}}"/>
      </div>
      <div class="row">
        <div class="col-md-3">
          <img [src]="Url + portrait.contentUrl" alt="">
        </div>
        <div class="col-md-9">
          <div class="form-group shadow-textarea">
            <label>Nom</label>
            <input class="form-control z-depth-1" value="{{portrait.nom}}" formControlName="nom"/>
          </div>
          <div class="form-group shadow-textarea">
            <label>poste</label>
            <input class="form-control z-depth-1" value="{{portrait.poste}}" formControlName="poste"/>
          </div>
        </div>
      </div>

      <div class="form-group shadow-textarea">
        <input class="form-control z-depth-1" value="{{portrait.dateAjout}}" formControlName="date"/>
      </div>
      <input class="form-control z-depth-1 col-md-5" type="file" (change)="onFileSelected($event)" />
      <div class="form-group shadow-textarea">
        <label>Description</label>
        <ejs-richtexteditor formControlName="description" value="{{portrait.description}}"></ejs-richtexteditor>
      </div>
      <button class="btn btn-primary" type="submit" [disabled]="portraitForm.invalid">Modifier</button>
    </form>
  </div>
