<app-bhome></app-bhome>
<div class="container jumbotron" >
  <h2>Formulaire d'ajout de l'annonce</h2>
    <form [formGroup]="annonceForm" (ngSubmit)="onSave()">
      <div class="form-group shadow-textarea">
        <label>Titre</label>
        <input class="form-control z-depth-1" formControlName="titre"/>
      </div>
      <!-- Default checked -->
      <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="defaultChecked2"  formControlName="actif" checked>
        <label class="custom-control-label" for="defaultChecked2">Actif</label>
      </div>
      <div class="form-group shadow-textarea">
        <label>Description</label>
        <ejs-richtexteditor formControlName="description"></ejs-richtexteditor>
      </div>
      <a class="btn btn btn-outline-info" routerLink="/annonce">annuler</a>
      <button class="btn btn-outline-primary" type="submit" [disabled]="annonceForm.invalid">Ajouter</button>
    </form>
  </div>