<app-bhome></app-bhome>
<div class="jumbotron">
  <h2 class="h2 text-center"> Les nouveaux employés</h2>
  <a routerLink="/nouveau/ajout" class="btn btn-action">Ajouter nouveau employé</a>

  <div *ngIf="!nouveauEmployes" class="d-flex justify-content-center">
    <div class="spinner-border text-info" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
  <table class="table table-bordered" *ngIf="nouveauEmployes">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">nom</th>
      <th scope="col">poste</th>
      <th scope="col">image</th>
      <th scope="col">action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let nouveau of nouveauEmployes">
      <th scope="row">{{nouveau.id}}</th>
      <td>{{nouveau.nom}}</td>
      <td>{{nouveau.poste}}</td>
      <td><img [src]="Url + nouveau.contentUrl" alt="" style="width:70px;height:60px;border-radius: 50%;"></td>
      <td>
        <button class="btn btn-outline-danger btn-sm" (click)="onDelete(nouveau)"><i class="far fa-trash-alt"></i></button>
        <a class="btn btn-outline-success btn-sm" [routerLink]="['/nouveau/edit' , nouveau.id]"><i class="fas fa-pencil-alt"></i></a>
      </td>
    </tr>
    </tbody>
  </table>
</div>
