<app-bhome></app-bhome>
<div class="container jumbotron pt-md-5">

  <a routerLink="/nouveau/ajout" class="btn btn-action">Ajouter nouveau employé</a>

  <table class="table table-bordered" *ngIf="nouveauEmployes">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">nom</th>
      <th scope="col">poste</th>
      <th scope="col">image</th>
      <th scope="col">action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let nouveau of nouveauEmployes">
      <th scope="row">{{nouveau.id}}</th>
      <td>{{nouveau.nom}}</td>
      <td>{{nouveau.poste}}</td>
      <td><img [src]="Url + nouveau.contentUrl" alt="" style="width:70px;height:60px;border-radius: 50%;"></td>
      <td>
        <button class="btn btn-danger" (click)="onDelete(nouveau)">supprimer</button>
        <a class="btn btn-success" [routerLink]="['/nouveau/edit' , nouveau.id]">modifier</a>
      </td>
    </tr>
    </tbody>
  </table>
</div>
