<app-bhome></app-bhome>
<div class="container jumbotron">
  <h2>Formulaire de modification de l'annonce</h2>
    <form [formGroup]="modificationForm" (ngSubmit)="onModify()">
      <div class="form-group shadow-textarea">
        <label>id</label>
        <input class="form-control z-depth-1" value="{{annonce.id}}" readonly formControlName="id"/>
      </div>
      <!-- Default checked -->
      <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="defaultChecked2" formControlName="actif">
       <label class="custom-control-label" for="defaultChecked2">Actif</label>
      </div>
      <div class="form-group shadow-textarea">
        <label>Titre</label>
        <input class="form-control z-depth-1" formControlName="titre" value="{{annonce.titre}}"/>
      </div>
      <div class="form-group shadow-textarea">
        <label>Description</label>
        <ejs-richtexteditor formControlName="description" value="{{annonce.description}}"></ejs-richtexteditor>
      </div>
      <div class="form-group shadow-textarea">
        <label>date Ajout : {{annonce.dateAjout | date:'d/M/y HH:MM'}}</label>
        <input class="form-control z-depth-1" type="datetime-local" formControlName="dateAjout"/>
      </div>
      <a class="btn btn btn-outline-info" routerLink="/annonce">annuler</a>
      <button class="btn btn-outline-primary" type="submit" [disabled]="modificationForm.invalid">modifier</button>
    </form>
  </div>